In [20]:
import numpy as np
import pandas as pd

In [22]:
population=pd.read_csv('population_wb.csv')
population

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1806279.0
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,30490639.0
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0,60041996.0
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,18920657.0
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,15092171.0

In [23]:
gdp=pd.read_csv('gdp.csv')
gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.730430e+11,9.839370e+11,1.003680e+12,9.242530e+11,8.823550e+11,1.020650e+12,9.910220e+11,9.975340e+11,9.216460e+11,1.082100e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,7.275700e+11,8.207930e+11,8.649900e+11,7.607340e+11,6.905460e+11,6.837490e+11,7.416900e+11,7.945430e+11,7.844460e+11,8.358080e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249980e+11,1.334020e+11,1.372440e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11,3.354420e+11,4.199460e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10

In [24]:
population = population.drop('Unnamed: 0', axis='columns')
population

KeyError: "['Unnamed: 0'] not found in axis"

In [25]:
gdp = gdp.drop('Unnamed: 0', axis='columns')
gdp

KeyError: "['Unnamed: 0'] not found in axis"

In [27]:
population_tidy = population.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    var_name='year',      
    value_name='value'
)

In [28]:
population_tidy

,Country Name,Country Code,Indicator Name,Indicator Code,year,value
0,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,54208.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1960,130836765.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8996967.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,1960,96396419.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,1960,5454938.0
...,...,...,...,...,...,...
16487,Kosovo,XKX,"Population, total",SP.POP.TOTL,2021,1806279.0
16488,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,2021,30490639.0
16489,South Africa,ZAF,"Population, total",SP.POP.TOTL,2021,60041996.0
16490,Zambia,ZMB,"Population, total",SP.POP.TOTL,2021,18920657.0
16491,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2021,15092171.0

In [29]:
gdp_tidy = gdp.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    var_name='year',      
    value_name='value'
)

In [30]:
gdp_tidy

,Country Name,Country Code,Indicator Name,Indicator Code,year,value
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1960,2.129059e+10
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,5.377778e+08
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1960,1.040414e+10
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
...,...,...,...,...,...,...
16487,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,2021,9.007159e+09
16488,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,2021,2.106169e+10
16489,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,2021,4.199460e+11
16490,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,2021,2.120306e+10
16491,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,2021,2.621773e+10

In [40]:
display (population_tidy,gdp_tidy)

,Country Name,Country Code,Indicator Name,Indicator Code,year,value
0,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,54208.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1960,130836765.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8996967.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,1960,96396419.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,1960,5454938.0
...,...,...,...,...,...,...
16487,Kosovo,XKX,"Population, total",SP.POP.TOTL,2021,1806279.0
16488,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,2021,30490639.0
16489,South Africa,ZAF,"Population, total",SP.POP.TOTL,2021,60041996.0
16490,Zambia,ZMB,"Population, total",SP.POP.TOTL,2021,18920657.0
16491,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2021,15092171.0

,Country Name,Country Code,Indicator Name,Indicator Code,year,value
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1960,2.129059e+10
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,5.377778e+08
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1960,1.040414e+10
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
...,...,...,...,...,...,...
16487,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,2021,9.007159e+09
16488,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,2021,2.106169e+10
16489,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,2021,4.199460e+11
16490,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,2021,2.120306e+10
16491,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,2021,2.621773e+10

In [41]:
df= (population_tidy,gdp_tidy)

In [42]:
display (df)

(                      Country Name Country Code     Indicator Name  \
 0                            Aruba          ABW  Population, total
 1      Africa Eastern and Southern          AFE  Population, total
 2                      Afghanistan          AFG  Population, total
 3       Africa Western and Central          AFW  Population, total
 4                           Angola          AGO  Population, total
 ...                            ...          ...                ...
 16487                       Kosovo          XKX  Population, total
 16488                  Yemen, Rep.          YEM  Population, total
 16489                 South Africa          ZAF  Population, total
 16490                       Zambia          ZMB  Population, total
 16491                     Zimbabwe          ZWE  Population, total

       Indicator Code  year        value
 0        SP.POP.TOTL  1960      54208.0
 1        SP.POP.TOTL  1960  130836765.0
 2        SP.POP.TOTL  1960    8996967.0
 3        SP.POP.TOTL  1960   96396419.0
 4        SP.POP.TOTL  1960    5454938.0
 ...              ...   ...          ...
 16487    SP.POP.TOTL  2021    1806279.0
 16488    SP.POP.TOTL  2021   30490639.0
 16489    SP.POP.TOTL  2021   60041996.0
 16490    SP.POP.TOTL  2021   18920657.0
 16491    SP.POP.TOTL  2021   15092171.0

 [16492 rows x 6 columns],
                       Country Name Country Code     Indicator Name  \
 0                            Aruba          ABW  GDP (current US$)
 1      Africa Eastern and Southern          AFE  GDP (current US$)
 2                      Afghanistan          AFG  GDP (current US$)
 3       Africa Western and Central          AFW  GDP (current US$)
 4                           Angola          AGO  GDP (current US$)
 ...                            ...          ...                ...
 16487                       Kosovo          XKX  GDP (current US$)
 16488                  Yemen, Rep.          YEM  GDP (current US$)
 16489                 South Africa          ZAF  GDP (current US$)
 16490                       Zambia          ZMB  GDP (current US$)
 16491                     Zimbabwe          ZWE  GDP (current US$)

        Indicator Code  year         value
 0      NY.GDP.MKTP.CD  1960           NaN
 1      NY.GDP.MKTP.CD  1960  2.129059e+10
 2      NY.GDP.MKTP.CD  1960  5.377778e+08
 3      NY.GDP.MKTP.CD  1960  1.040414e+10
 4      NY.GDP.MKTP.CD  1960           NaN
 ...               ...   ...           ...
 16487  NY.GDP.MKTP.CD  2021  9.007159e+09
 16488  NY.GDP.MKTP.CD  2021  2.106169e+10
 16489  NY.GDP.MKTP.CD  2021  4.199460e+11
 16490  NY.GDP.MKTP.CD  2021  2.120306e+10
 16491  NY.GDP.MKTP.CD  2021  2.621773e+10

 [16492 rows x 6 columns])

In [43]:
result=pd.concat(df)
result

,Country Name,Country Code,Indicator Name,Indicator Code,year,value
0,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,5.420800e+04
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1960,1.308368e+08
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8.996967e+06
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,1960,9.639642e+07
4,Angola,AGO,"Population, total",SP.POP.TOTL,1960,5.454938e+06
...,...,...,...,...,...,...
16487,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,2021,9.007159e+09
16488,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,2021,2.106169e+10
16489,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,2021,4.199460e+11
16490,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,2021,2.120306e+10
16491,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,2021,2.621773e+10

In [39]:
df = df.drop('Indicator Code', axis='columns')

AttributeError: 'tuple' object has no attribute 'drop'

In [46]:
df.pivot(index='Country Name', 'Country Code',	'Indicator Name', 'year', 'value', columns='Country Code', value='value')

SyntaxError: positional argument follows keyword argument (2800456625.py, line 1)

In [ ]:
df.reset_index