In [8]:
# pip install xlrd
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from openpyxl) (1.1.0)

In [22]:
import os
assert os.path.isfile("DESeq2_kallisto_vsd.csv")

In [24]:
import pandas as pd
df_ctrlvsmut = pd.read_csv("DESeq2_kallisto_vsd.csv")
print(df)
df_ctrlvsmut

          Unnamed: 0      JP001      JP002      JP003      JP004      JP005  \
0      0610009B22Rik  10.425076  10.404924  10.571324  10.524966   9.789004
1      0610010F05Rik  11.681542  11.714794  11.472211  11.454169  10.604382
2      0610010K14Rik   9.891799   9.798628  10.095838   9.964367  10.093656
3      0610012G03Rik  11.820555  11.603109  12.073275  11.905223  11.602196
4      0610030E20Rik   9.875777   9.791588   9.871849   9.678772  10.139646
...              ...        ...        ...        ...        ...        ...
36139         Zyg11a   5.879159   5.879159   5.879159   5.879159   5.879159
36140         Zyg11b  11.998458  12.189784  11.957409  11.948443  11.331173
36141            Zyx  11.474158  11.016714  11.258902  11.350937  11.334157
36142          Zzef1  10.309166  10.235081  10.011170  10.363800  10.560365
36143           Zzz3  10.802367  10.668020  10.571166  10.738669  10.557733

           JP006      JP007      JP008
0       9.354933   9.291470   9.170668
1      10.773900  10.918988  11.000997
2      10.090004  10.118448  10.198606
3      11.851617  11.753897  11.888843
4       9.868778   9.375454  10.001971
...          ...        ...        ...
36139   5.879159   5.879159   5.879159
36140  11.526435  11.469923  11.657189
36141  11.649833  11.480989  11.671542
36142  10.158212  10.389741  10.063578
36143  10.589502  10.611044  10.872120

[36144 rows x 9 columns]

,Unnamed: 0,JP001,JP002,JP003,JP004,JP005,JP006,JP007,JP008
0,0610009B22Rik,10.425076,10.404924,10.571324,10.524966,9.789004,9.354933,9.291470,9.170668
1,0610010F05Rik,11.681542,11.714794,11.472211,11.454169,10.604382,10.773900,10.918988,11.000997
2,0610010K14Rik,9.891799,9.798628,10.095838,9.964367,10.093656,10.090004,10.118448,10.198606
3,0610012G03Rik,11.820555,11.603109,12.073275,11.905223,11.602196,11.851617,11.753897,11.888843
4,0610030E20Rik,9.875777,9.791588,9.871849,9.678772,10.139646,9.868778,9.375454,10.001971
...,...,...,...,...,...,...,...,...,...
36139,Zyg11a,5.879159,5.879159,5.879159,5.879159,5.879159,5.879159,5.879159,5.879159
36140,Zyg11b,11.998458,12.189784,11.957409,11.948443,11.331173,11.526435,11.469923,11.657189
36141,Zyx,11.474158,11.016714,11.258902,11.350937,11.334157,11.649833,11.480989,11.671542
36142,Zzef1,10.309166,10.235081,10.011170,10.363800,10.560365,10.158212,10.389741,10.063578
36143,Zzz3,10.802367,10.668020,10.571166,10.738669,10.557733,10.589502,10.611044,10.872120

In [19]:
#df_13 = pd.read_excel("pythonproject1.xlsx", engine='openpyxl', sheet_name='fold>1.3')
#df_13

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Ldlrad3,2210.746135,1.797380,0.096093,18.704617,4.539810e-78,9.223079e-74
1,Igsf1,635.436952,3.114924,0.179527,17.350723,1.947784e-67,1.978559e-63
2,Tspan15,8619.394798,2.387348,0.138427,17.246199,1.195081e-66,8.093092e-63
3,Agt,9121.808017,3.938808,0.231468,17.016650,6.180729e-65,3.139192e-61
4,Sema6a,3733.431216,1.574166,0.096007,16.396433,2.028009e-60,5.885860e-57
...,...,...,...,...,...,...,...
2034,Ifi47,7.263033,2.027882,0.878797,2.307565,2.102335e-02,4.827574e-02
2035,Trim61,2.706554,4.858686,2.107152,2.305807,2.112142e-02,4.847522e-02
2036,Ankrd55,16.546604,1.934251,0.841497,2.298583,2.152863e-02,4.929843e-02
2037,Ssmem1,7.928338,1.777143,0.773885,2.296391,2.165352e-02,4.955648e-02
2038,Lexm,7.838056,2.440200,1.062785,2.296044,2.167338e-02,4.959076e-02

In [25]:
df_ctrlvsmut

,Unnamed: 0,JP001,JP002,JP003,JP004,JP005,JP006,JP007,JP008
0,0610009B22Rik,10.425076,10.404924,10.571324,10.524966,9.789004,9.354933,9.291470,9.170668
1,0610010F05Rik,11.681542,11.714794,11.472211,11.454169,10.604382,10.773900,10.918988,11.000997
2,0610010K14Rik,9.891799,9.798628,10.095838,9.964367,10.093656,10.090004,10.118448,10.198606
3,0610012G03Rik,11.820555,11.603109,12.073275,11.905223,11.602196,11.851617,11.753897,11.888843
4,0610030E20Rik,9.875777,9.791588,9.871849,9.678772,10.139646,9.868778,9.375454,10.001971
...,...,...,...,...,...,...,...,...,...
36139,Zyg11a,5.879159,5.879159,5.879159,5.879159,5.879159,5.879159,5.879159,5.879159
36140,Zyg11b,11.998458,12.189784,11.957409,11.948443,11.331173,11.526435,11.469923,11.657189
36141,Zyx,11.474158,11.016714,11.258902,11.350937,11.334157,11.649833,11.480989,11.671542
36142,Zzef1,10.309166,10.235081,10.011170,10.363800,10.560365,10.158212,10.389741,10.063578
36143,Zzz3,10.802367,10.668020,10.571166,10.738669,10.557733,10.589502,10.611044,10.872120

In [11]:
from openpyxl import load_workbook
wb2 = load_workbook('pythonproject1.xlsx')
wb2.create_sheet('significantpadj')
wb2.save('pythonproject1.xlsx')

In [12]:
df['significant_padj']=df['padj']<0.05

In [25]:
df

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,significant_padj
0,Ldlrad3,2210.746135,1.797380,0.096093,18.704617,4.539810e-78,9.223079e-74,True
1,Igsf1,635.436952,3.114924,0.179527,17.350723,1.947784e-67,1.978559e-63,True
2,Tspan15,8619.394798,2.387348,0.138427,17.246199,1.195081e-66,8.093092e-63,True
3,Agt,9121.808017,3.938808,0.231468,17.016650,6.180729e-65,3.139192e-61,True
4,Trappc12,4122.262161,-1.379825,0.081887,-16.850276,1.044254e-63,4.243011e-60,True
...,...,...,...,...,...,...,...,...
36139,Zscan4c,0.000000,NaN,NaN,NaN,NaN,NaN,False
36140,Zscan4d,0.000000,NaN,NaN,NaN,NaN,NaN,False
36141,Zscan4e,0.000000,NaN,NaN,NaN,NaN,NaN,False
36142,Zscan4f,0.000000,NaN,NaN,NaN,NaN,NaN,False
36143,Zyg11a,0.000000,NaN,NaN,NaN,NaN,NaN,False

In [37]:
from openpyxl import load_workbook
wb2 = load_workbook('pythonproject1.xlsx')
wb2.create_sheet('fold>1.3')
wb2.save('pythonproject1.xlsx')

PermissionError: [Errno 13] Permission denied: 'pythonproject1.xlsx'

In [36]:
df_upregulated = df_upregulated.get('fold>1.3')

NameError: name 'df_upregulated' is not defined

In [52]:
# load the project data

import pandas as pd
df_main = pd.read_excel("pythonproject1.xlsx", engine='openpyxl', sheet_name='Sheet1')
df_main
# df_upvsdown_13 = pd.read_excel("pythonproject1.xlsx", engine='openpyxl', sheet_name='fold>1.3')
# df_upvsdown_07 = pd.read_excel("pythonproject1.xlsx", engine='openpyxl', sheet_name='fold<0.7')

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Ldlrad3,2210.746135,1.797380,0.096093,18.704617,4.539810e-78,9.223079e-74
1,Igsf1,635.436952,3.114924,0.179527,17.350723,1.947784e-67,1.978559e-63
2,Tspan15,8619.394798,2.387348,0.138427,17.246199,1.195081e-66,8.093092e-63
3,Agt,9121.808017,3.938808,0.231468,17.016650,6.180729e-65,3.139192e-61
4,Trappc12,4122.262161,-1.379825,0.081887,-16.850276,1.044254e-63,4.243011e-60
...,...,...,...,...,...,...,...
36139,Zscan4c,0.000000,NaN,NaN,NaN,NaN,NaN
36140,Zscan4d,0.000000,NaN,NaN,NaN,NaN,NaN
36141,Zscan4e,0.000000,NaN,NaN,NaN,NaN,NaN
36142,Zscan4f,0.000000,NaN,NaN,NaN,NaN,NaN
36143,Zyg11a,0.000000,NaN,NaN,NaN,NaN,NaN

In [55]:
# load raw data from control and mutated groups

df_raw = pd.read_excel("estcountsgenes.xlsx", engine='openpyxl', sheet_name='Sheet1')
df_raw = df_raw.notna()
df_raw

       Unnamed: 0  JP001  JP002  JP003  JP004  JP005  JP006  JP007  JP008
0            True   True   True   True   True   True   True   True   True
1            True   True   True   True   True   True   True   True   True
2            True   True   True   True   True   True   True   True   True
3            True   True   True   True   True   True   True   True   True
4            True   True   True   True   True   True   True   True   True
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
36139        True   True   True   True   True   True   True   True   True
36140        True   True   True   True   True   True   True   True   True
36141        True   True   True   True   True   True   True   True   True
36142        True   True   True   True   True   True   True   True   True
36143        True   True   True   True   True   True   True   True   True

[36144 rows x 9 columns]

In [ ]:
# calculate the average

In [38]:
!pip install bioinfokit

Collecting bioinfokit
  Downloading bioinfokit-2.1.0.tar.gz (86 kB)
     ---------------------------------------- 87.0/87.0 kB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from bioinfokit) (1.4.3)
Requirement already satisfied: numpy in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from bioinfokit) (1.21.5)
Requirement already satisfied: matplotlib in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from bioinfokit) (3.5.2)
Requirement already satisfied: scipy in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from bioinfokit) (1.7.3)
Requirement already satisfied: scikit-learn in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from bioinfokit) (1.1.1)
Requirement already satisfied: seaborn in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from bioinfokit) (0.11.2)
Collecting matplotlib-venn
  Downloading matplotlib-venn-0.11.7.tar.gz (29 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Collecting statsmodels
  Downloading statsmodels-0.13.5-cp310-cp310-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 32.5 MB/s eta 0:00:00
Collecting textwrap3
  Downloading textwrap3-0.9.2-py2.py3-none-any.whl (12 kB)
Collecting adjustText
  Downloading adjustText-0.7.3.tar.gz (7.5 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pillow>=6.2.0 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from matplotlib->bioinfokit) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from matplotlib->bioinfokit) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from matplotlib->bioinfokit) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from matplotlib->bioinfokit) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from matplotlib->bioinfokit) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from matplotlib->bioinfokit) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from matplotlib->bioinfokit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from pandas->bioinfokit) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from scikit-learn->bioinfokit) (2.2.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from scikit-learn->bioinfokit) (1.1.0)
Collecting numpy
  Downloading numpy-1.22.4-cp310-cp310-win_amd64.whl (14.7 MB)
     --------------------------------------- 14.7/14.7 MB 40.9 MB/s eta 0:00:00
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ------------------------------------- 233.8/233.8 kB 14.0 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\julap\miniconda3\envs\intropython\lib\site-packages (from patsy>=0.5.2->statsmodels->bioinfokit) (1.16.0)
Building wheels for collected packages: bioinfokit, adjustText, matplotlib-venn
  Building wheel for bioinfokit (setup.py): started
  Building wheel for bioinfokit (setup.py): finished with status 'done'
  Created wheel for bioinfokit: filename=bioinfokit-2.1.0-py3-none-any.whl size=58669 sha256=96424af0bab2df51f26e412f7bd9ec7671e45381fdcc1b4f708d7393ae7eda87
  Stored in directory: c:\users\julap\appdata\local\pip\cache\wheels\f8\6e\14\26f84dc04734d9b4614f1a74154aba345568d65c0c145c6543
  Building wheel for adjustText (setup.py): started
  Building wheel for adjustText (setup.py): finished with status 'done'
  Created wheel for adjustText: filename=adjustText-0.7.3-py3-none-any.whl size=7074 sha256=fa056e9e28e93121a0235b9a5e3eb9dab0aea855ddaea341ec4ea7f953dc89a2
  Stored in directory: c:\users\julap\appdata\local\pip\cache\wheels\08\17\ca\9b56027427d0a46e5696312ad2bc4e8a47620d31a25c473d44
  Building wheel for matplotlib-venn (setup.py): started
  Building wheel for matplotlib-venn (setup.py): finished with status 'done'
  Created wheel for matplotlib-venn: filename=matplotlib_venn-0.11.7-py3-none-any.whl size=32155 sha256=f15d537633244ed68642f4051e96b296a44f5241e2e5f64028f3e9035d34b9eb
  Stored in directory: c:\users\julap\appdata\local\pip\cache\wheels\b9\be\b9\8ca360a0641afdf3fecdb695b4f086a17e0c414605e51eca84
Successfully built bioinfokit adjustText matplotlib-venn
Installing collected packages: textwrap3, tabulate, numpy, patsy, statsmodels, matplotlib-venn, adjustText, bioinfokit
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.5
    Uninstalling numpy-1.21.5:
      Successfully uninstalled numpy-1.21.5
Successfully installed adjustText-0.7.3 bioinfokit-2.1.0 matplotlib-venn-0.11.7 numpy-1.22.4 patsy-0.5.3 statsmodels-0.13.5 tabulate-0.9.0 textwrap3-0.9.2

In [39]:
df_raw

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Ldlrad3,2210.746135,1.797380,0.096093,18.704617,4.539810e-78,9.223079e-74
1,Igsf1,635.436952,3.114924,0.179527,17.350723,1.947784e-67,1.978559e-63
2,Tspan15,8619.394798,2.387348,0.138427,17.246199,1.195081e-66,8.093092e-63
3,Agt,9121.808017,3.938808,0.231468,17.016650,6.180729e-65,3.139192e-61
4,Trappc12,4122.262161,-1.379825,0.081887,-16.850276,1.044254e-63,4.243011e-60
...,...,...,...,...,...,...,...
36139,Zscan4c,0.000000,NaN,NaN,NaN,NaN,NaN
36140,Zscan4d,0.000000,NaN,NaN,NaN,NaN,NaN
36141,Zscan4e,0.000000,NaN,NaN,NaN,NaN,NaN
36142,Zscan4f,0.000000,NaN,NaN,NaN,NaN,NaN
36143,Zyg11a,0.000000,NaN,NaN,NaN,NaN,NaN

In [62]:
from bioinfokit import visuz
df_main_processed = df_main.dropna()
df_main_processed
visuz.GeneExpression.ma(df=df_main_processed, lfc='log2FoldChange', ct_count='baseMean', st_count='baseMean', pv='pvalue')

In [28]:
# df_upvsdown_13

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Ldlrad3,2210.746135,1.797380,0.096093,18.704617,4.539810e-78,9.223079e-74
1,Igsf1,635.436952,3.114924,0.179527,17.350723,1.947784e-67,1.978559e-63
2,Tspan15,8619.394798,2.387348,0.138427,17.246199,1.195081e-66,8.093092e-63
3,Agt,9121.808017,3.938808,0.231468,17.016650,6.180729e-65,3.139192e-61
4,Sema6a,3733.431216,1.574166,0.096007,16.396433,2.028009e-60,5.885860e-57
...,...,...,...,...,...,...,...
2034,Ifi47,7.263033,2.027882,0.878797,2.307565,2.102335e-02,4.827574e-02
2035,Trim61,2.706554,4.858686,2.107152,2.305807,2.112142e-02,4.847522e-02
2036,Ankrd55,16.546604,1.934251,0.841497,2.298583,2.152863e-02,4.929843e-02
2037,Ssmem1,7.928338,1.777143,0.773885,2.296391,2.165352e-02,4.955648e-02
2038,Lexm,7.838056,2.440200,1.062785,2.296044,2.167338e-02,4.959076e-02

In [29]:
# df_upvsdown_07

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Trappc12,4122.262161,-1.379825,0.081887,-16.850276,1.044254e-63,4.243011e-60
1,Borcs5,2080.167238,-2.006245,0.121672,-16.489018,4.400406e-61,1.489978e-57
2,Ublcp1,2652.575929,-1.806956,0.118195,-15.287921,9.204205e-53,1.725936e-49
3,Med9,1498.655248,-1.593272,0.109812,-14.509084,1.061290e-47,1.347572e-44
4,Uros,1331.679995,-1.566054,0.108676,-14.410353,4.454279e-47,5.027396e-44
...,...,...,...,...,...,...,...
5471,Dync1i2,2359.046337,-0.255390,0.111344,-2.293707,2.180733e-02,4.983552e-02
5472,Pomgnt1,7370.480803,0.206920,0.090212,2.293712,2.180702e-02,4.983552e-02
5473,Hcfc1r1,2525.963716,-0.418869,0.182639,-2.293421,2.182378e-02,4.986750e-02
5474,Guk1,5211.798646,-0.289346,0.126184,-2.293051,2.184509e-02,4.991057e-02
5475,Tsfm,1440.335766,0.223871,0.097653,2.292526,2.187531e-02,4.997400e-02

In [32]:
# df_upvsdown_13.columns = df_upvsdown_13.columns.str.replace('padj', 'padj_13')
# df_upvsdown_13

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj_13
0,Ldlrad3,2210.746135,1.797380,0.096093,18.704617,4.539810e-78,9.223079e-74
1,Igsf1,635.436952,3.114924,0.179527,17.350723,1.947784e-67,1.978559e-63
2,Tspan15,8619.394798,2.387348,0.138427,17.246199,1.195081e-66,8.093092e-63
3,Agt,9121.808017,3.938808,0.231468,17.016650,6.180729e-65,3.139192e-61
4,Sema6a,3733.431216,1.574166,0.096007,16.396433,2.028009e-60,5.885860e-57
...,...,...,...,...,...,...,...
2034,Ifi47,7.263033,2.027882,0.878797,2.307565,2.102335e-02,4.827574e-02
2035,Trim61,2.706554,4.858686,2.107152,2.305807,2.112142e-02,4.847522e-02
2036,Ankrd55,16.546604,1.934251,0.841497,2.298583,2.152863e-02,4.929843e-02
2037,Ssmem1,7.928338,1.777143,0.773885,2.296391,2.165352e-02,4.955648e-02
2038,Lexm,7.838056,2.440200,1.062785,2.296044,2.167338e-02,4.959076e-02

In [33]:
# df_upvsdown_07.columns = df_upvsdown_07.columns.str.replace('padj', 'padj_07')
# df_upvsdown_07

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj_07
0,Trappc12,4122.262161,-1.379825,0.081887,-16.850276,1.044254e-63,4.243011e-60
1,Borcs5,2080.167238,-2.006245,0.121672,-16.489018,4.400406e-61,1.489978e-57
2,Ublcp1,2652.575929,-1.806956,0.118195,-15.287921,9.204205e-53,1.725936e-49
3,Med9,1498.655248,-1.593272,0.109812,-14.509084,1.061290e-47,1.347572e-44
4,Uros,1331.679995,-1.566054,0.108676,-14.410353,4.454279e-47,5.027396e-44
...,...,...,...,...,...,...,...
5471,Dync1i2,2359.046337,-0.255390,0.111344,-2.293707,2.180733e-02,4.983552e-02
5472,Pomgnt1,7370.480803,0.206920,0.090212,2.293712,2.180702e-02,4.983552e-02
5473,Hcfc1r1,2525.963716,-0.418869,0.182639,-2.293421,2.182378e-02,4.986750e-02
5474,Guk1,5211.798646,-0.289346,0.126184,-2.293051,2.184509e-02,4.991057e-02
5475,Tsfm,1440.335766,0.223871,0.097653,2.292526,2.187531e-02,4.997400e-02

In [34]:
#df_combined = pd.concat([df_upvsdown_13, df_upvsdown_07['padj_07']], axis=1)
#df_combined

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj_13,padj_07
0,Ldlrad3,2210.746135,1.797380,0.096093,18.704617,4.539810e-78,9.223079e-74,4.243011e-60
1,Igsf1,635.436952,3.114924,0.179527,17.350723,1.947784e-67,1.978559e-63,1.489978e-57
2,Tspan15,8619.394798,2.387348,0.138427,17.246199,1.195081e-66,8.093092e-63,1.725936e-49
3,Agt,9121.808017,3.938808,0.231468,17.016650,6.180729e-65,3.139192e-61,1.347572e-44
4,Sema6a,3733.431216,1.574166,0.096007,16.396433,2.028009e-60,5.885860e-57,5.027396e-44
...,...,...,...,...,...,...,...,...
5471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.983552e-02
5472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.983552e-02
5473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.986750e-02
5474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.991057e-02
5475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.997400e-02